@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #0074D9;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form input {
  width: 200px;
  border-radius: 2.5px;
  border: 2px solid #E8E8E8;
  outline: none;
  background-color: white;
}

.inputButton {
  margin-left: 10px;
  border-radius: 2.5px;
  border: 2px solid #E8E8E8;
  outline: none;
  background-color: white;
}

.inputButton:hover {
  cursor: pointer;
}

.title {
  text-align: center;
}

.cocktails {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: .5fr .5fr;
  grid-gap: 10px;
}

.cocktails:hover {
  cursor: pointer;
}

image {
  border-radius: 5px;
}
